<%= render partial: "static/header" %>
<div class="container Absolute-Center-Parent">
    <div class="row row-centered Absolute-Center">
        <div id="logo-container"></div>
        <div class="col-xs-10 col-sm-8 col-md-3 col-lg-3 col-centered">
            <h2>Resend confirmation instructions</h2>
            <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
                <% if notice %>
                <p class="alert alert-success"><%= notice %></p>
                <% end %>
                <% if alert %>
                <p class="alert alert-danger"><%= alert %></p>
                <% end %>
                <%= devise_error_messages! %>

                <div class="field form-group input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <%= f.email_field :email, autofocus: true, :class=>"form-control", :placeholder=>"Email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
                </div>

                <div class="actions form-group">
                    <%= f.submit "Resend confirmation instructions", :class=>"btn btn-def btn-block" %>
                </div>
            <% end %>
            <div class="form-group text-center">
                <%= render "users/shared/links" %>
            </div>
        </div>
    </div>
</div>