<%= render partial: "static/header" %>
<div class="container Absolute-Center-Parent">
    <div class="row row-centered Absolute-Center">
        <div id="logo-container"></div>
        <div class="col-xs-10 col-sm-8 col-md-3 col-lg-3 col-centered">
                <h2>Log in</h2>
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                    <% if notice %>
                        <p class="alert alert-success"><%= notice %></p>
                    <% end %>
                    <% if alert %>
                        <p class="alert alert-danger"><%= alert %></p>
                    <% end %>
                    <%= devise_error_messages! %>
                    <div class="field form-group input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <%= f.email_field :email, autofocus: true, :class=>"form-control", :placeholder=>"Email" %>
                    </div>

                    <div class="field  form-group input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <%= f.password_field :password, autocomplete: "off", :class=>"form-control", :placeholder=>"Password"%>
                    </div>

                    <% if devise_mapping.rememberable? -%>
                        <div class="field">
                            <%= f.check_box :remember_me %>
                            <%= f.label :remember_me %>
                        </div>
                    <% end -%>

                    <div class="actions form-group">
                        <%= f.submit "Login", :class=>"btn btn-def btn-block" %>
                    </div>
                <% end %>
                <div class="form-group text-center">
                    <%= render "users/shared/links" %>
                </div>
            </div>
        </div>
    </div>
</div>